html {
    font-size: 110%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: row;

    /* https://pixabay.com/illustrations/texture-abstract-pattern-backdrop-7515225/ */
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;

    backdrop-filter: blur(20px);
}

header > div {
    background: rgba(0,0,0, 0.75);
    color: white;
    border-radius: 0.5em;

    box-shadow: 0px 0px 4px rgba(0,0,0, 0.5);
    z-index: 100;
}

main {
    flex: 1;
    gap: 0.5em;
}

label {
    width: 8em;
}

section {
    border: 1px solid black;
    padding: 2em;
}

section:nth-child(1) {
    background: LightSteelBlue;
}

section:nth-child(2) {
    background: Khaki;
}

section:nth-child(3) {
    background: PowderBlue;
}